* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400
}

@font-face {
  font-family: 'Hangman';
  src: url('./assets/DK_Hangman_s_Delight.otf');
}

body {
  background-image: url('./assets/list_v_kletku.jpg');
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 100px 100px 0 100px;
  gap: 100px;
}

.game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.img__gallow {
  transform: scale(-1, 1);
  width: 300px;
}

.game__container h1 {
  font-family: 'Hangman';
  font-size: 40px;
  font-weight: 600;
}

.control__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

.game__wrapper {
  display: flex;
  gap: 40px;
  font-size: 50px;
}

.keyaboard__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Hangman';
  font-size: 30px;
}

.game__button {
  padding: 20px;
  cursor: pointer;
  transition: ease 0.5s;
  border-radius: 100px;
}

.game__button:hover {
  border: 1px solid;
  transform: scale(1.2);
}

.game__button[data-active] {
  pointer-events: none;
  color: grey;
  transform: scale(1.0);
}

.questions__wrapper p {
  font-family: 'Hangman';
  font-weight: 700;
  font-size: 32px;
}